[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yau = {file = "../../Telegram/yau-python", editable = true}

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
